.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.card-1{
  width: 100vw;
  height: 10vh;
  border: 1px solid #ffd700;
  margin: 10px;
  background-color: #ffd700;
}

.card-2{
  width: 49vw;
  height: 10vh;
  border: 1px solid #ffd700;
  margin: 5px;
  background-color: #ffd700;
}

.card-3{
  width: 32.5vw;
  height: 10vh;
  border: 1px solid #ffd700;
  margin: 5px;
  background-color: #ffd700;
}

.card-4{
  width: 24vw;
  height: 10vh;
  border: 1px solid #ffd700;
  margin: 6px;
  background-color: #ffd700;
}

.card-5{
  width: 15.5vw;
  height: 10vh;
  border: 1px solid #ffd700;
  margin: 7px;
  background-color: #ffd700;
}

.card-6{
  width: 7vw;
  height: 10vh;
  border: 1px solid #ffd700;
  margin: 9px;
  background-color: #ffd700;
}

h2{
  text-align: center;
  margin: 25px;
  color: #fff;
  font-size: 30px
}

.card nav ul li a{
  display: flex;
  border: 2px solid #ffd700;
  width: 80px;
  height: 15px;
  padding: 2px;
}